<div style="height:100px;">
	<b>##name##</b>
	<div float="left">
		<img src="##imageUrl##" alt="" height="50" width="50" />
	</div>
	<div>
		##streetAddress##<br />
		##city##, ##state## ##postalCode##
	</div>
</div>